* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
/* For Reuse */
.container-reuse{
    padding: 60px 8%;
}

/* Navbar Section */
.navbar-section {
  padding: 15px 35px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-items ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.list-items ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

/* Common Button Section */
.common-btn {
  padding: 8px 20px;
  border-radius: 10px;
  border: 2px solid transparent;
  background-color: #1d4ed8;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.common-btn:hover {
  background-color: white;
  color: black;
  border-color: #1d4ed8;
}

/* Hero Section */
header {
  height: 750px;
  width: 100%;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  color: white;
}
.banner-content p {
  width: 500px;
  color: white;
  margin-bottom: 60px;
  font-size: 18px;
  letter-spacing: 1px;
}
.banner-content h1 {
  font-size: 65px;
}
.btn {
  margin-top: 210px;
  padding: 15px 45px;
}


/* speakers-heading */
.speakers-heading{
    text-align: center;
    margin-bottom: 56px;
    font-size: 25px;
}

.all-box-holder{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    
}
.box-contents{
    border: 1px solid lightgray;
    border-radius: 10px;
}
.box-contents img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
#track{
    padding: 10px 20px;
    color: #1d4ed8;
    font-weight: 700;
}
#name{
    padding: 10px 20px;
}
#company{
    padding: 5px 0px 25px 20px;
    font-size: 22px;
    letter-spacing: 1px;
    color: gray;
}

/* Card Section */
.cards-heading{
  text-align: center;
  margin-bottom: 15px;
}
.cards-heading h2{
  font-size: 35px;
  margin-bottom: 15px;
}
.cards-heading p{
  color: gray;
}

.cards{
  border: 1px solid lightgray;
  padding: 10%;
  border-radius: 10px;
}
.all-card-section{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 40px;
}
.card-head h2{
  font-size: 40px;
   margin: 10px 0px;
}
.card-head h4{
  color: gray;
}
.card-head p{
  font-size: 18px;
  color: gray;
  margin: 10px 0px;
}
.cards-list-items{
  margin-top: 13px;
}
.cards-list-items ul li::marker{
  color: #1d4ed8;
}
.cards-list-items ul li{
  margin-top: 10px;
}
.price-btn{
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #1d4ed8;
  background-color: white;
  color: black;
  margin-top: 25px;
  width: 100%;
  cursor: pointer;
}
.price-btn:hover{
  background-color: #1d4ed8;
  color: white;
}
.card-2{
  background-color: #0D1B2A;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
#card-2-pro{
  color: #1d4ed8;
}
#card-2-btn{
  background-color: #1d4ed8;
  color: white;
}
#card-2-btn:hover{
  background-color: white;
  color: black;
}

/* Footer Secction */
footer{
  background-color: #0D1B2A;
}
.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.social-links{
  display: flex;
  gap: 30px;
}
.social-links a{
  width: 40px;
  height: 40px;
  border-radius: 6px;
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.copyright{
  color: white;
}
.terms-links{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.terms-links a{
  text-decoration: none;
  color: white;
}